<launch>
	<arg name="pose_topic" default="/CERLAB/quadcopter/pose"/>
	<node name="quadcopterTF" pkg="uav_simulator" type="quadcopterTFBroadcaster" args="$(arg pose_topic)" output="screen"/>
	<node pkg="tf" type="static_transform_publisher" name="baselink_cameralink"
      args="0.09 0.0 0.095 -1.57 0 -1.57 base_link camera_link 1000" />
</launch>
