<launch>
  <arg name="paused" value="false"/>
  <arg name="verbose" value="false"/>
  <arg name="use_sim_time" value="true"/>
  <arg name="debug" value="false" />
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/square/square_static.world" /> -->
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/square/square_dynamic_7.world" /> -->
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/square/square_box.world" /> -->
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/square/square_box_dynamic_8.world" /> -->
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/square/square_box_dynamic_14.world" /> -->
  

  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/floorplan1/floorplan1_static.world" /> -->
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/floorplan1/floorplan1_dynamic_6.world" /> -->
  <arg name="world_name" value="$(find uav_simulator)/worlds/floorplan1/floorplan1_dynamic_16.world" />

  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/floorplan2/floorplan2_static.world" /> -->
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/floorplan2/floorplan2_dynamic_5.world" /> -->

  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/floorplan3/floorplan3_static.world" /> -->
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/floorplan3/floorplan3_dynamic_8.world" /> -->
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/floorplan3/floorplan3_box_static.world" /> -->
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/floorplan3/floorplan3_box_dynamic_4.world" /> -->

  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/corridor/corridor_static.world" /> -->
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/corridor/corridor_dynamic_9.world" /> -->


  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/test/test.world" /> -->
  <!-- <arg name="world_name" value="$(find uav_simulator)/worlds/test/test2.world" /> -->


  <!-- launch the custom world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="paused" value="$(arg paused)"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="debug" value="$(arg debug)" />
  </include>


   <!-- send robot urdf to param server -->
  <param name="robot_description" command="cat '$(find uav_simulator)/urdf/quadcopter.urdf'" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <!-- <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model quadcopter -x 0 -y 0 -z 0.1" respawn="false" /> -->

<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model quadcopter -x -0.3 -y 0.0 -z 0 -Y 0.0" respawn="false" />

  <!-- TF -->
  <include file="$(find uav_simulator)/launch/setupTF.launch" >
    <arg name="pose_topic" value="/CERLAB/quadcopter/pose" />
  </include>

  <node name="keyboard_control" pkg="uav_simulator" type="keyboard_control" />

  <include file="$(find uav_simulator)/launch/rviz.launch"></include>

</launch>
